.btn-link-secondary {
  color: $secondary;

  @include hover {
    color: darken($secondary, 15%);
  }
}

.tb-button-reset {
  display: inherit;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: inherit;
  border: inherit;

  &:focus {
    outline: none;
  }
}
