.devise-card {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.recipe-card {
  .card-footer {
    padding: 0 1rem 1rem;
    color: $primary;
    background-color: $white;
    border-top: none;
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}
