.devise-card {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.recipe-card {
  $card-border-radius: 1rem;
  border: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);

  .card-footer {
    color: $white;
    background-color: $blue;
    border-top: none;
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}
