.devise-card {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.recipe-card {
  .card-footer {
    color: $white;
    background-color: $primary;
    border-top: none;
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

.instructions-card {
  border: 1px solid $primary;

  .card-header {
    background-color: $primary;
    border-bottom-color: $primary;

    .nav-link.active {
      border-color: transparent;
    }

    .nav-link:not(.active) {
      color: $white;

      &:hover {
        background-color: lighten($primary, 10%);
        border-color: transparent;
      }
    }
  }
}
