.flashes {
  .close {
    bottom: 0;
    text-shadow: none;
    &:focus {
      outline: none;
    }
  }
}

@each $name, $color in $theme-colors {
  .alert-#{$name} {
    color: darken($color, 20%);
    background-color: rgba($color, 0.2);
    border-color: darken($color, 10%);

    .close {
      color: darken($color, 20%);
    }
  }
}
