form {
  margin-block-end: 0;
}

.form-actions {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.optional-flag label.optional::after {
  color: $text-muted;
  content: ' - optional';
}

.tb-form-no-border {
  input {
    border: none;
  }
}
