.tb-recipe-image {
  background-color: lighten($body-bg, 2%);
  object-position: center;
  object-fit: cover;
}

.tb-profile-image {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: $gray-200;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}

.tb-profile-image--camera {
  position: absolute;
  top: 85px;
  right: 12px;
  color: $dark;
}

.tb-profile-image--sm {
  width: 50px;
  height: 50px;
}

.tb-profile-image--xs {
  width: 30px;
  height: 30px;
}
