/* The side navigation menu */
.sidenav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 0;
  height: 100%;
  padding-top: 3.125rem;
  overflow-x: hidden;
  background-color: $white;
  border-left: 1px solid $gray-400;
  transition: 0.2s;
}

.sidenav.open {
  width: 250px;
}

.sidenav-toggle {
  position: absolute;
  top: 0;
  right: 1rem;
  z-index: 2;
  width: 2rem;
  height: 3.125rem;
}

.sidenav-toggle span {
  position: absolute;
  top: 50%;
  left: 0%;
  display: block;
  width: 100%;
  height: 3px;
  margin-top: -1px;
  background-color: $gray-700;
  border-radius: 3px;
  transition: all 0.3s;
}

.sidenav-toggle span:first-child {
  margin-top: -11px;
}

.sidenav-toggle span:last-child {
  margin-top: 9px;
}

.sidenav.open + .sidenav-toggle {
  span:nth-child(2) {
    background-color: transparent;
  }
  span:last-child {
    margin-top: -2px;
    transform: rotate(45deg);
  }
  span:first-child {
    margin-top: -2px;
    transform: rotate(-45deg);
  }
}
