$sidenav-width: 250px;
$shadow-width: 10px;

/* The side navigation menu */
.sidenav {
  position: fixed;
  top: 0;
  right: -($sidenav-width + $shadow-width);
  bottom: -56px; // to avoid gap when android chrome addressbar closes
  z-index: 100;
  width: $sidenav-width;
  padding-top: 15vh;
  padding-bottom: 130px;
  overflow: hidden;
  background-color: $white;
  transition: 0.2s;

  .sidenav--bottom-center {
    position: fixed;
    bottom: 0;
    margin-left: 0.5 * $sidenav-width;
    transform: translateX(-50%);
  }
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52.5px;
  height: 47.5px;
  padding-top: $navbar-brand-padding-y;
  padding-right: $navbar-padding-x;
  padding-bottom: $navbar-brand-padding-y;
  padding-left: $navbar-padding-x;
  margin-right: 2px;
  background-color: transparent;

  div {
    position: relative;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2px;
    background: $body-color;
    border-radius: 999px;
    transition: transform 0.4s;

    &::before,
    &::after {
      position: absolute;
      top: -5px;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 2px;
      content: '';
      background: inherit;
      border-radius: 999px;
      transition: transform 0.4s;
    }

    &::after {
      top: 5px;
    }
  }
}

.sidenav-open {
  overflow: hidden;

  .sidenav {
    right: 0;

    + .hamburger {
      div {
        transform: rotate(225deg);
      }
      div::before {
        top: 0;
        transform: rotate(90deg);
      }
      div::after {
        top: 0;
        opacity: 0;
        transform: rotate(-45deg);
      }
    }
  }

  .hamburger {
    position: fixed;
  }
}

.sidenav ul {
  padding: 0;
  padding-top: 2rem;
  overflow-y: auto;
  font-size: 1.2rem;
  text-align: right;
  list-style: none;

  li {
    padding: 0.5rem 1rem;

    a {
      color: $body-color;
    }
  }
}

.sidenav--friend-request {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.5em;

  &::before {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.5em;
    content: '';
    background-color: $danger;
    border-radius: 50%;
  }
}
