- content_for :extra_container_class, "justify-content-center"

.d-flex.justify-content-center.align-items-center.mb-5
  .mr-2 Already have an account?
  = link_to "Log in", new_session_path(resource_name), class: "btn btn-outline-primary"

%h1.text-center.mb-3= title "Sign up for FREE"
.js-updateable-form
  = render 'form'
