- if edit?(recipe)
  .dropleft
    %button.btn.btn-link.pr-0.pt-0{ id: 'dropdown',
      'aria-expanded' => 'false',
      'aria-haspopup' => 'true',
      'data-toggle' => 'dropdown',
      type: 'button'}
      %i.fas.fa-ellipsis-v.text-primary
    .dropdown-menu{ 'aria-labelledby' => 'dropdown' }
      = link_to 'Edit', [:edit, recipe], class: 'dropdown-item'
      - if recipe.image.attached?
        = link_to 'Remove image',
          recipe_image_path,
          class: 'dropdown-item',
          method: :delete,
          data: { confirm: 'Are you sure you want to remove the image?' }
      .dropdown-divider
      = link_to 'Delete',
        recipe,
        class: 'dropdown-item text-danger',
        method: :delete,
        data: { confirm: 'Are you sure you want to delete this recipe?' }
