= f.button :button,
  type: :submit,
  class: 'btn btn-primary flex-center search-button',
  data: { 'disable-with': "<i class='fa fa-spinner fa-spin fa-fw'></i>".html_safe } do
  %i.fas.fa-search.fa-fw
  .sr-only Search
