:ruby
  liked = liked?(recipe)

%button.btn.btn-link.btn-link-secondary.tb-like-btn{ data: { controller: 'like',
  action: 'click->like#toggle',
  url: recipe_likes_path(recipe) },
  class: "#{'tb-like-btn--liked' if liked} #{local_assigns[:btn_class]}" }
  %i.far.fa-star{ class: local_assigns[:icon_class] }
  .sr-only= liked ? 'Unlike recipe' : 'Like recipe'
