.text-center.my-5.col-12
  %h3.mb-4
    - if params[:recipe_search]
      Your search did not match any recipes :(
    - else
      You have no recipes yet!
  = link_to 'New recipe', [:new, :recipe], class: 'btn btn-primary'
