- if @recipe.notes.present?
  - if edit?(recipe)
    = link_to edit_recipe_notes_path, class: 'float-right p-1' do
      .sr-only Edit notes
      %i.fas.fa-pencil-alt.fa-sm
  = recipe.notes
- elsif edit?(recipe)
  = link_to 'Add a note', edit_recipe_notes_path
