- if @recipe.notes.present?
  .mt-5
    - if edit?(recipe)
      = link_to edit_recipe_notes_path, class: 'btn btn-link float-right pr-0 pt-0' do
        .sr-only Edit notes
        %i.fas.fa-pencil-alt.fa-sm
    = recipe.notes
- elsif edit?(recipe)
  .mt-5= link_to 'Add a note', edit_recipe_notes_path
