.nested-fields
  .d-flex.mb-3.pb-3.mt-5.border-bottom
    %button.text-muted.pr-3.tb-button-reset.js-sortable-handle.border-0{ type: 'button', draggable: 'true', style: 'padding-top: 10px' }
      %i.fas.fa-sort
      %span.sr-only Drag ingredient
    = f.hidden_field :position, class: 'js-position-input'
    = f.hidden_field :heading, value: true
    = f.input :name, wrapper_class: 'flex-fill', label_html: { class: 'sr-only' }, input_html: { class: 'font-weight-bold' }
    = link_to_remove_association f do
      %i.fas.fa-trash-alt.text-dark.ml-3{ style: 'margin-top: 10px' }
