.nested-fields
  .d-flex.mb-4
    %button.text-muted.pr-3.tb-button-reset.js-sortable-handle{ type: 'button', draggable: 'true', style: 'padding-top: 10px' }
      %i.fas.fa-sort
      %span.sr-only Drag step
    = f.hidden_field :position, class: 'js-position-input'
    = f.input :description,
      hint: '',
      hint_tag: 'span',
      hint_html: { class: 'tb-recipe-description-field--span' },
      label_html: { class: 'sr-only' },
      wrapper_html: { class: 'flex-fill tb-recipe-description-field' },
      input_html: { rows: '3',
        class: 'tb-recipe-description-field--textarea js-cocoon-focus',
        data: { controller: 'textarea',
          target: 'textarea.input',
          action: 'resize@window->textarea#debouncedResize input->textarea#resize' } }


    = link_to_remove_association f do
      %i.fas.fa-trash-alt.text-dark.ml-3{ style: 'margin-top: 10px' }
      .sr-only Remove step
