.d-flex.justify-content-end.align-items-center.rythmx-2.mb-2
  = render 'recipes/like_button', recipe: recipe, btn_class: 'tb-circle-btn'
  %button.btn.btn-link.btn-link-secondary.tb-circle-btn{ data: { toggle: 'modal', target: '#collections-modal' } }
    %i.fas.fa-plus
    .sr-only Save to a collection
  - if edit?(recipe)
    = form_with model: recipe, url: recipe_image_path(recipe) do |f|
      = f.file_field :image, accept: 'image/*', class: 'tb-hidden-with-focus-on-label js-auto-submit-on-change', direct_upload: true
      = f.label :image, class: 'btn btn-link btn-link-secondary tb-circle-btn mb-0' do
        %i.fas.fa-camera
        .sr-only Upload image
