.card.border.shadow-sm.mb-5
  .card-body
    = render 'recipes/filters', search: @search
    = render 'recipes/heading'
.js-updateable-recipes.row
  = render 'recipes/results', recipes: @recipes, search: @search
= render 'recipes/load_more_link'
