= simple_form_for @search, url: recipes_path, method: :get, remote: true, html: { class: 'js-form-autosubmit' } do |f|
  = f.input :q,
    placeholder: 'Search',
    label_html: { class: 'sr-only' }

.js-updateable-recipes.rythmy-3
  = render @recipes
