%p Hello,

%p{ style: 'margin-bottom:1.5rem' } #{@friendship.user.username} wants to be your friend on #{app_name}.

= render 'shared/mailer/button',
  button_text: 'Accept friend request',
  button_url: accept_invitation_url(@friendship)
