- if @friendship.friend
  %p Hello #{@friendship.friend.username},
- else
  %p Hello,

%p #{@friendship.user.username} wants to be your friend on #{app_name}.

%p Click the link below to accept the request.

%p= link_to 'Accept friend request', accept_friendship_url(@friendship)
