%tr
  %td= friendship.name
  %td
    - unless friendship.accepted?
      .font-italic.text-muted Pending
  %td.w-100.text-right
    = link_to friendship, method: :delete, class: 'text-nowrap', data: { confirm: "Are you sure you want to unfriend #{friendship.name}?" } do
      %i.fas.fa-user-slash
      .d-none.d-md-inline Unfriend
