.d-flex.justify-content-between.align-items-start
  %h1= title 'My friends'
  = link_to 'Invite a friend', new_friendship_path, class: 'btn btn-primary'

- if @friendships.any?
  .list-group.mt-4
    = render @friendships
- else
  %div
    %span.text-muted.font-italic You have no friends
    %span 😞
