.recipe-instructions {
  // border: 1px solid $primary;
  // border-top: none;
  // border-bottom-left-radius: $border-radius;
  // border-bottom-right-radius: $border-radius;
  // padding: 1rem;

  ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;

    li {
      position: relative;
      display: block;
      padding-bottom: 0.25rem;
      font-size: 1.2em;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  ol {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    li {
      margin-bottom: 1rem;
      font-size: 1.2em;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

.like-btn {
  color: $primary;
  transition: none;

  &:hover {
    color: $primary;
  }
}

.recipe-card .like-btn {
  position: absolute;
  top: -21px;
  right: 1rem;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.3rem;
  height: 2.3rem;
  padding: 0;
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
  background-color: $white;
  border-radius: 50%;
  box-shadow: $box-shadow-sm;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.recipe-show .like-btn {
  padding: 0;

  i {
    font-size: 2em;
  }
}

.like-btn--liked {
  color: $yellow;

  i {
    font-weight: 700;
  }

  &:hover {
    color: $yellow;
  }
}

.recipe-filter--liked,
.recipe-filter--friends {
  position: absolute;
  width: 0;
  height: 0;
  cursor: pointer;
  opacity: 0;

  ~ label::before {
    display: inline-block;
    width: 1.25em;
    margin-right: 0.5rem;
    font-family: 'Font Awesome 5 Free'; // stylelint-disable-line font-family-no-missing-generic-family-keyword
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
  }

  &:checked ~ label::before {
    font-weight: 700;
  }
}

.recipe-filter--liked {
  ~ label::before {
    content: '\f005';
  }

  &:checked ~ label::before {
    color: $yellow;
  }
}

.recipe-filter--friends {
  ~ label::before {
    content: '\f007';
  }

  &:checked ~ label::before {
    color: $blue;
  }
}

body {
  counter-reset: recipe-step;
}

.tb-recipe-description-field {
  position: relative;

  .tb-recipe-description-field--textarea {
    padding-left: 1.75rem;
  }

  .tb-recipe-description-field--span {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0.375rem;
    padding-left: 0.75rem;
    margin: 0;
    color: inherit !important;
    counter-increment: recipe-step;
    border: 1px solid transparent;

    &::after {
      content: counter(recipe-step) '.';
    }
  }
}
