.recipe-instructions {
  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-position: inside;
  }

  ol {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    li {
      margin-bottom: 1rem;
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

.like-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  color: $white;
  -webkit-text-stroke: 2px $primary;
  transition: none;

  &:hover {
    color: $white;
  }
}

.like-btn--liked {
  color: $yellow;
  -webkit-text-stroke: 0;

  &:hover {
    color: $yellow;
  }
}
