- if flash.any?
  .flashes.container
    - user_facing_flashes.each do |key, value|
      %div.mt-3{:class => "alert mb-0 #{bootstrap_class_for(key)}"}
        = value
        %button.close{data: {dismiss: 'alert'}}
          %span
            &times;
