* {
  -webkit-font-smoothing: antialiased;
}

abbr[title] {
  text-decoration: none;
}

.line-height-base {
  line-height: $line-height-base;
}

.line-height-sm {
  line-height: $line-height-sm;
}

hr {
  border-color: $primary;
  border-style: dashed;
}

.text-decoration-none {
  text-decoration: none;
}

.tb-hide-siblings-when-empty:empty ~ * {
  display: none;
}
