* {
  -webkit-font-smoothing: antialiased;
}

abbr[title] {
  text-decoration: none;
}

.line-height-base {
  line-height: $line-height-base;
}

.line-height-sm {
  line-height: $line-height-sm;
}

hr {
  border-color: $primary;
  border-style: dashed;
}

.text-decoration-none {
  text-decoration: none;
}

.tb-hide-siblings-when-empty:empty ~ * {
  display: none;
}

.tb-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

select {
  background-image: linear-gradient(45deg, transparent 50%, $gray-700 50%),
    linear-gradient(135deg, $gray-700 50%, transparent 50%);
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
  background-size: 5px 5px, 5px 5px;
  appearance: none;
}
